apiVersion: v1
kind: Secret
metadata:
  name: op-connect-credentials
  namespace: external-secrets
type: Opaque
data:
  token: "{{ lookup('community.general.onepassword', '1Password Connect', vault='Homelab', field='token') | b64encode }}"
  credentials_b64: "{{ lookup('community.general.onepassword', '1Password Connect', vault='Homelab', field='credential') | b64encode | b64encode }}"
