{% for vlan in configure_vlans %}
ipconfig{{ loop.index0 }}: 'ip={{ network_cidr | ansible.utils.ipsubnet(24, vlan) | ansible.utils.ipaddr(network_host) }}{% if vlan in network_vlans_with_gw %},gw={{ network_cidr | ansible.utils.ipsubnet(24, vlan) | ansible.utils.ipaddr("1") | ansible.utils.ipaddr("address") }}{% endif %}'
{% endfor %}
