name: Ansible Lint

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: 'ansible/requirements.txt'

      - name: Install libssh-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libssh-dev

      - name: Install ansible-lint
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r ansible/requirements.txt

      - name: Install Galaxy modules
        run: |
          ansible-galaxy install -r ansible/requirements.yml

      - name: Run ansible-lint
        run: ansible-lint
        working-directory: ansible
